body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
  text-decoration: none;
  color: #0051c9;
}

a:visited {
  color: #0051c9;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

table {
  width: 100%;
  max-width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: separate;
}

.name {
  margin-bottom: 0.1rem;
}

.center {
  text-align: center;
}

table,
tr,
td {
  padding: 0;
}

.bio {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .bio {
    flex-direction: column-reverse;
  }
}
.self-author {
  font-weight: 600;
}

.pub-title {
  font-size: 1.17em;
  font-weight: 600;
  color: #0051c9;
}

.pub p {
  line-height: 1;
}

ul {
  padding-left: 0;
}

.publications li {
  list-style-type: "";
  padding-bottom: 10px;
}

.talk-title {
  font-size: 1.17em;
  font-weight: 600;
}

.talks li {
  list-style-type: "";
}

.ta li {
  list-style-type: circle;
  margin-left: 13px;
}

.header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}